In [1]:
#from frozendict import frozendict
import yfinance as yf

In [2]:
sp500 = yf.Ticker("^GSPC")

In [3]:
sp500 = sp500.history(period="max")

In [6]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-05 00:00:00-04:00,4084.729980,4147.020020,4084.729980,4136.250000,4186270000,0.0,0.0
2023-05-08 00:00:00-04:00,4136.979980,4142.299805,4123.810059,4138.120117,3641640000,0.0,0.0
2023-05-09 00:00:00-04:00,4124.250000,4130.350098,4116.649902,4119.169922,3810140000,0.0,0.0
2023-05-10 00:00:00-04:00,4143.740234,4154.279785,4098.919922,4137.640137,4057160000,0.0,0.0
2023-05-11 00:00:00-04:00,4132.240234,4132.799805,4109.290039,4130.620117,3752900000,0.0,0.0

DatetimeIndex(['1927-12-30 00:00:00-05:00', '1928-01-03 00:00:00-05:00',
               '1928-01-04 00:00:00-05:00', '1928-01-05 00:00:00-05:00',
               '1928-01-06 00:00:00-05:00', '1928-01-09 00:00:00-05:00',
               '1928-01-10 00:00:00-05:00', '1928-01-11 00:00:00-05:00',
               '1928-01-12 00:00:00-05:00', '1928-01-13 00:00:00-05:00',
               ...
               '2023-04-28 00:00:00-04:00', '2023-05-01 00:00:00-04:00',
               '2023-05-02 00:00:00-04:00', '2023-05-03 00:00:00-04:00',
               '2023-05-04 00:00:00-04:00', '2023-05-05 00:00:00-04:00',
               '2023-05-08 00:00:00-04:00', '2023-05-09 00:00:00-04:00',
               '2023-05-10 00:00:00-04:00', '2023-05-11 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=23955, freq=None)